*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f3f4;
}

.quote_container {
  padding: 2em;
  max-width: 50%;
  background: #f8f8ff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.text_author_container {
  text-align: center;
}

.quote_text {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.author_name {
  font-size: 1.2rem;
}

.buttons_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.twitter_btn {
  display: block;
  color: #ffff;
  background: #1da1f2;
  font-weight: 600;
}

.btn {
  font-size: 1.1rem;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.new_quote_btn {
  border: none;
  cursor: pointer;
  background: #657786;
  color: #ffff;
}

.btn:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transform: scale(0.98);
}

/* media queries */

@media screen and (max-width: 941px) {
  .quote_container {
    max-width: 60%;
  }
}

@media screen and (max-width: 811px) {
  .quote_container {
    max-width: 70%;
  }
}

@media screen and (max-width: 615px) {
  .quote_container {
    max-width: 80%;
  }
}

@media screen and (max-width: 546px) {
  .quote_container {
    max-width: 85%;
  }

  .text_author_container {
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 446px) {
  .quote_container {
    padding: 1.6em;
    max-width: 90%;
  }
}

@media screen and (max-width: 391px) {
  .quote_text {
    font-size: 1.8rem;
  }

  .btn {
    font-size: 1rem;
  }
}
